@using frontend.Services
@inject AuthService AuthService
@inject NavigationManager Navigation
@implements IDisposable

<nav class="top-navbar">
    <a href="/" class="nav-brand">
        🎟️ NexusEvent
    </a>

    <div class="nav-links">
        <a href="/eventos" class="nav-link">Eventos</a>

        @if (AuthService.EstaLogado)
        {
            <a href="/perfil" class="nav-link">👤 Perfil</a>
            <a href="/minhas-reservas" class="nav-link">Minhas Reservas</a>

            @if (AuthService.EhAdmin)
            {
                <a href="/admin/eventos" class="nav-link nav-link-admin">⚙️ Admin Eventos</a>
                <a href="/admin/cupons" class="nav-link nav-link-admin">⚙️ Admin Cupons</a>
            }

            <span class="nav-user">Olá, @AuthService.UsuarioAtual!.Nome</span>

            <button @onclick="Sair" class="btn-logout">Sair</button>
        }
        else
        {
            <a href="/login" class="nav-link">Entrar</a>
            <a href="/register" class="btn-register">Cadastrar</a>
        }
    </div>
</nav>

@code {
    protected override void OnInitialized() => AuthService.OnChange += StateHasChanged;
    private void Sair() { AuthService.Deslogar(); Navigation.NavigateTo("/"); }
    public void Dispose() => AuthService.OnChange -= StateHasChanged;
}
